extends header
block content
    // Blog entries
    h1 Página de Recurso
    .w3-row
        // Introduction menu
        .w3-col.l2
          // About Card
          .w3-card.w3-margin.w3-margin-top
            .w3-container.w3-white
              h4
                b Nome do Uploader
              p
                | kkkk socorro
          hr
          // Labels / tags
          .w3-card.w3-margin
            .w3-container.w3-padding
              h4 Tags do post
            .w3-container.w3-white
              p
                span.w3-tag.w3-black.w3-margin-bottom Teses
                span.w3-tag.w3-light-grey.w3-small.w3-margin-bottom Exercicios Resolvidos
                span.w3-tag.w3-light-grey.w3-small.w3-margin-bottom Testes
                span.w3-tag.w3-light-grey.w3-small.w3-margin-bottom Material
                span.w3-tag.w3-light-grey.w3-small.w3-margin-bottom Sebentas
                span.w3-tag.w3-light-grey.w3-small.w3-margin-bottom Apontamentos
          // END Introduction Menu
        // Blog entries 
        .w3-col.l10.s12
            // Blog entry    
            .w3-card-4.w3-margin.w3-white
              .w3-container
                h3
                  b=recurso.titulo
                h5 
                  |Autor :  
                  b=recurso.autor
                  span.w3-opacity 
                    =recurso.dataRegisto
              .w3-container
                p
                  |
                  =recurso.descricao
                .w3-row
                  .w3-col.m8.s12
                    p
                      button.w3-button.w3-padding-large.w3-white.w3-border
                        a(href="kkkNotYet") Download &raquo;
                  .w3-col.m4.w3-hide-small
                    p
                      span.w3-padding-large.w3-right
                        b Comentários &nbsp;
                        span.w3-badge=recurso.comentarios.length
                    p
                      span.w3-padding-large.w3-right
                        b Pontuação &nbsp;
                        span.w3-badge=recurso.pontuacao  
                  
            // END BLOG ENTRIES
            // Posts
            .w3-card.w3-margin
              .w3-container.w3-padding-white
                h4 Comentarios
              ul.w3-ul.w3-hoverable.w3-white
                each com in recurso.comentarios
                  li.w3-padding-16
                    b=com.nome_utilizador
                    br
                    b=com.id_coment
                    b=com.data
                    br
                    span=com.descricao
                    br
                    .div(id=com.id_coment)
                      input.btn.btn-secondary.mr-5(type="button" id="b"+com.id_coment value="Ver replies" onclick=`addi( ${com} )`)
                    p
                    .div(id="r"+com.id_coment)
                      input.btn.btn-secondary.mr-5(type="button" onclick=`addReply(\"${recurso._id}\", ${com})` value="Responder ⤵️")                           
                .div
                .w3-container
                  form(action="/consumidor/recurso/"+recurso._id ,method="POST", enctype="form-data")
                    li.w3-padding-16
                      input.form-control(type="text",placeholder="comentário ...",name="descricao")
                      input.btn.btn-lg.btn-primary(type="submit",value="Submit")
                br

            hr
        // END GRID
    br
    // END w3-content

