extends header
block content
    .w3-card-4.w3-margin.w3-white
      .w3-container
        .w3-row  
          .w3-col.l4.w3-left
            br
            form(action="/administrador/resultadosUser" method="GET", enctype="multipart/form-data")
              input.w3-button.w3-border(type="search",name="search")
              input.w3-button.w3-border(type="submit",value="🔎")
          .w3-col.l4.w3-center
            h1 Gestão de Utilizadores
    .w3-card-4.w3-margin.w3-white
      .w3-container
        br
        table.w3-table-all.w3-centered
            tr
              th Nome de Utilizador
              th Email
              th Filiação
              th Nível
              th Data de Criação
              th Opçoes
            each e in users
              tr
                td=e.nome
                td=e.email
                td=e.filiacao 
                td=e.nivel
                td=e.dataRegisto.toISOString().substr(0, 16).split('T').join(' ')
                td 
                  button.w3-button.w3-purple.w3-border
                        a(href="/administrador/editProfile/"+e._id) Editar &raquo;
                  button.w3-button.w3-purple.w3-border
                        a(href="/administrador/deleteu/"+e._id) Eliminar &raquo;
                  button.w3-button.w3-purple.w3-border
                        a(href="/administrador/profile/"+e._id) Ver Perfil &raquo;
        hr
        button.w3-button.w3-purple.w3-border
                     a(href="/administrador/registar") Adicionar Utilizador &raquo;
        br
        br